 .slider {
    width: 100%;
    max-width: 600px;
    height: 4000px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }

  .slides {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease;
  }

  .slides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    opacity: 0.7;
  }

  #prev { left: 10px; }
  #next { right: 10px; }
